<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
      impedit saepe facere molestiae numquam nulla laboriosam excepturi
      voluptatum distinctio soluta, facilis commodi aperiam magnam optio! Alias
      eos harum autem laboriosam!
    </p>
    <h1>why the scope </h1>
    <form action=""><input type="text"><form>
  </body>
</html>
